#loading-screen{
    display: none;
    /* display:flex */
    width: 100%;
    height: 100%;
    justify-content: center; /* Center child horizontally */
    align-items: center; /* centers vertically */
}

.logo {
    height: 200px;
    width: 200px;
}
  
.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #3d3233;
    box-shadow: inset 0 0 0 1px #fff;
}

.face-front {
    transform: translateZ(50px);
}

.face-back {
    transform: translateZ(-50px) rotateY(180deg);
}

.face-left {
    transform: rotateY(-90deg) translateX(-50px);
}

.face-right {
    transform: rotateY(90deg) translateX(50px);
}

.face-top {
    transform: rotateX(-90deg) translateY(-50px);
}

.face-bottom {
    transform: rotateX(90deg) translateY(50px);
}

.cube:hover {
    transform: rotateX(360deg) rotateY(360deg);
}