{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>MovieDice</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/find_movies.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/loading.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
        <script>
            function clickButton() {
              document.getElementById("button2").click();
            }
          </script>
    </head>
    
    <body id="body" class="body">
        <div id="entire-div" class="entire-div">
            <div class="left-side">

                <form method="post" action="http://127.0.0.1:8000/playground/find_movies/">
                    <div class="options"> 
                        <p class="op">Options</p>
                    </div>

                    <div class="frm" style="font-family: 'Nunito', sans-serif;">
                        {% csrf_token %}
                        <p>Movie or Series {{ form.movie_series }}</p> 
                        <p>Genre {{ form.genre }}</p>
                        <p>Year {{ form.year }}</p>
                        <p>Rating {{ form.rating }}</p>
                    </div>
                    <div>
                        <button class="apply-button" type="submit" name="appply">Apply</button>
                    </div> 
                </form>
                <br>

                

            </div>
            <div id="right-side" class="right-side">
                <div class="dice-cube">
                    <div class="dice-face dice-face-one">
                        <div class="circle"></div>
                    </div>
                    <div class="dice-face dice-face-two">
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="dice-face dice-face-three">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="dice-face dice-face-four">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="dice-face dice-face-five">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="dice-face dice-face-six">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                  </div>
            </div>
        </div>

        
    </body>
    

</html>




